/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poor+Story&family=Poppins&family=Roboto&display=swap');

/* CSS RESET*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: indianred 1px solid;*/
}


/* FLEXBOX */
.outer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.inner-container {
    display: flex;
    flex-direction: column;
    margin-inline: 1rem;
    flex: 0 1 1200px;
    align-items: center;
    justify-content: center;

}


/* VARS */

:root {

    /* COLORS VARS */
    --primary-black: #000;
    --primary-yellow: #FFCB0C;
    --primary-white: #FFF;
    --dark-gray: #B4ACAC;
    --dark-blue: #10162F;
    --light-yellow: #FFEFB6;
    --mid-yellow: #FFEA9E;
    --light-gray: #F2F2F2;
    --light-orange: #FF9600;
    --dark-orange: #E57D32;
    --light-turquoise: #23E4E4;
    --light-green: #0EC237;
    --light-peach: #FFE6CC;
    --light-mint: #D6F8E7
}

/* COLOR STYLING*/

.background-orange {
    background-color: var(--light-orange)
}

.background-turquoise {
    background-color: var(--light-turquoise)
}

.background-green {
    background-color: var(--light-green)
}

.background-peach {
    background-color: var(--light-peach);
}

.background-mint {
    background-color: var(--light-mint);
}


/* ELEMENTS*/

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: var(--dark-blue);
}



