/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poor+Story&family=Poppins&family=Roboto&display=swap');

/* CSS RESET*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* FLEXBOX */


.outer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}


/* COLORS VARS */

:root {
    --primary-black: #000;
    --primary-yellow: #FFCB0C;
    --dark-gray: #B4ACAC;
    --dark-blue: #10162F;
}

/* ELEMENTS*/

body {
    font-family: 'Poppins', sans-serif;
    min-width: 100vh;
    background-color: var(--dark-blue);
    /*font-family: 'Roboto', sans-serif;*/
}

