img {
    width: 50px;
    height: 60px;
}


h2 {
    font-size: 40px;
}

.nav-outer {
    background-color: var(--primary-yellow);
    justify-content: space-between;
    padding: 10px 20px;
}

.nav-left {
    display: flex;
    flex-direction: row;
}




