.button-bar {
    display: flex;
    background-color: white;
    justify-content: space-between;
    height: 35px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 2px 0;

}


.bar-left {
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex-shrink: 0;
}

.bar-right {
    display: flex;
    flex-shrink: 0;
    align-items: center;

}

.icon-box {
    display: flex;
    margin: 0 30px;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;

}

.left-caret {
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.calender-icon {
    border-radius: 0;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.right-caret {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
}

.today {
    border-radius: 5px;
    border: 1px solid black;
}


.publish-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 60px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0 5px;
}

.view-mode {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 5px;
    border: 1px solid black;
}

.dag {
    border-right: 1px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0 5px;

}

.week {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 5px;
}